body {
  background-color: black;
  color: white;
}

p {
font-size: 16px;
line-height: 1.5;
color: white;
}

header {
  background-color: white;
  color: black;
  font-size: 32px;
  padding: 2.5px;
  text-align: center;
}

<style>
  .position {
    position: absolute;
    width: 640px;
    height: 480px;
  }
</style>

<div class="position">
  <iframe width="640px" height="480px" src="https://forms.office.com/Pages/ResponsePage.aspx?id=SjyUWVNiDU2KmP71AwPTS38P99EU9wpMoUWMj0gtyDxUOFJCNkJSWVA4RVBBRU0yTzdQSkI1SDA0VC4u&embed=true" frameborder="0" marginwidth="0" marginheight="0" style="border: none; max-width:100%; max-height:100vh" allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen> </iframe>
</html>

</div>
