body {
  background-color: black;
  color: white;
  background-image: url('stars.png');
}

p {
font-size: 16px;
line-height: 1.5;
color: white;
}

header {
  background-color: white;
  color: black;
  font-size: 32px;
  padding: 1px;
  text-align: center;
}

footer {
 text-align: center; 
}

h1 {
  
}

ol {
  
}

ul {
   display: inline-block; 

}


nav li {
   display: inline-block; 
}
